<header class="mb-2">
    <div class="header-top"> 
        <div class="container ">
            <div class="d-flex align-items-center justify-content-between col-12">
                <a href="/" class="col-3 me-2">
                    <img src="/images/img/logo.png"  class="" alt="logo">
                </a>
                <div class="col-3 col-sm  d-flex justify-content-center">
                    <form action="/search" class="w-75" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search">
                    </form>
                </div>
                <div class="col-2 admin">
                    <% if(typeof admin == 'undefined') {%> 
                        <div class="text-center off">
                            <a href="/admin/" class="btn btn-outline-light me-2 ">Login</a>
                            <a href="/admin/cadastro" class="btn btn-warning ">Sing-Up</a>
                        </div>
                        <% }else{ %>
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center justy-itens-end on">
                                    <div class="text-center w-100">
                                        <% let fullName = admin.nome %> 
                                        <% let name = fullName.split(" ")[0]+ " " + fullName.split(" ")[1] %> 
                                        <span class=""><b><%=name %></b></span>                          
                                        <div class="mt-2">
                                            <a href="/admin/perfil" class="btn-link">perfil</a>
                                            <a href="/admin/sair" class="btn-link">Sair</a>
                                        </div>
                                    </div>
                                </div>
                                <div class=" img-avatar">
                                    <img src="/images/users/<%= admin.avatar %>" class="h-100 rounded-circle p-1" alt="avatar">
                                </div>
                            </div>
                        <% } %>
                </div>
            </div>
        </div>    
    </div>  
    <div class="p-1 mt-2 bg-menu-bottom">
        <nav class="container">
            <ul class="nav config-nav swap-top" >
                <li class="nav-item">
                    <a href="/biblioteca" class="nav-link ">biblioteca</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link " >mais vendidos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">indicações</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">coleções</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">novidades</a>
                </li>
                <li class="nav-item">
                    <a href="/carrinho" class="nav-link ">carrinho</a>
                </li>
            </ul>
            <div class="swap-bottom ">
                <div class="dropdown me-2">
                    <a class="btn btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/biblioteca">biblioteca</a>
                      <a class="dropdown-item" href="#">mais vendidos</a>
                      <a class="dropdown-item" href="#">indicações</a>
                      <a class="dropdown-item" href="#">coleções</a>
                      <a class="dropdown-item" href="#">novidades</a>
                    </div>
                  </div>
                  <ul class="d-flex m-0 p-0">
                    <li class="btn btn-outline-dark">
                        <a href="/carrinho" class="nav-link ">carrinho</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>