<header>
    <div class="p-3 color-a"> 
        <div class="container ">
            <div class=" config-header  ">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decorarion-none">
                    <img src="images/icons/logoHome.png" alt="logo">
                </a>
     
                <form class=" ajust-left col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search" id="">
                </form>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sing-Up</button>
                </div>
                
            </div>
        </div>    
    </div>  
    <div class="p-1 mt-2 color-a2">
        <nav class="container">
            <ul class="nav config-nav" >
                
                <li class="nav-item">
                    <a href="/biblioteca" class="nav-link ">biblioteca</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link " >mai vendidos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">indicações</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">coleções</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">novidades</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">carrinho</a>
                </li>
                
            </ul>
        </nav>
    </div>

</header>