<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h3>estou em uma pagina admin geral</h3>
    </main>
    <%- include('partials/footer') %>     
</body>
</html>