<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header') %>
    <main>
     <div class="container bg-light">
        <div class="row">
            <ul class="nav flex-column col-4 ">
                <h2 class="text-center">Meu perfil</h2>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link"href="#">Meus produtos</a></li>
                <li><a class="nav-link" href="#">Meu carrinho</a></li>
                <li><a class="nav-link" href="#">Minhas compras</a></li>
                <li><a class="nav-link" href="#">Minhas informaçoes</a></li>
            </ul>
            <div class="col-8 ">
                <h2>conteudo</h2>
            </div>
        </div>
     </div>
    </main>
    <%- include('partials/footer') %>     
</body>
</html>