<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/header') %> 
    <h2>carrinho</h2>

    <%- include('partials/footer') %> 
</body>
</html>