<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <h2>estou no login de usuario</h2>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>