<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %> 
<body>

    <%- include('partials/header') %> 
    <main class="container bg-light">
        <form action="/user/" method="post" class="p-5" >
            <% if(typeof errors !== 'undefined') {%>
                <div class="errors">
                    <ul>
                        <% for(err of errors) {%>
                            <li><%= err.msg %></li>
                        <% } %> 
                    </ul>
                </div>    
            <% } %> 
            <div class="form-group mb-3">
                <input type="email" class="form-control" name="email" id="email" required placeholder="informe seu email de login">
            </div>
            <div class="form-group mb-3">
                <input type="password" class="form-control mb-3" name="password" id="senha" required placeholder="digite sua senha">
            </div>
            <div>
                <button class="btn btn-info">Entrar</button>
            </div>
        </form>
       
    </main>
    <%- include('partials/footer') %> 
</body>
</html>