<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %> 
<body>
    <style>
        main{
            height: 70vh;
        }
    </style>
    <%- include('partials/header') %> 
    <main class="container bg-light">
        <form action="#" method="post" class="p-5" >
            <div class="form-group mb-3">
                <input type="email" class="form-control" name="email" id="email"  placeholder="informe seu email de login">
            </div>
            <div class="form-group mb-3">
                <input type="password" class="form-control mb-3" name="password" id="senha"  placeholder="digite sua senha">
            </div>
            <div>
                <button class="btn btn-info">Entrar</button>
            </div>
        </form>
       
    </main>
    <%- include('partials/footer') %> 
</body>
</html>