
/*back ground da pagina*/
.bg-page{
    background-color: #fff;
}

/*box do conteudo do carrinho e finalização de pedido*/
.d-page{
    display: flex;
    justify-content: space-around;
    align-items:  flex-start;
}

/*conteudo do carrinho*/
.conteudo{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px #ddd;
    padding: 5px;
}

/*box pedido*/
.box-pedido{
    padding: 5px;
    margin-right: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px #ddd;
}
.text-pedido{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.bt-pedido{
    margin: 10px auto 10px auto;
}

/*formatação da imagem dos livros em carrinho*/
.c-img-box{
    width: 175px;
}

/*formatação das descrições dos livros em carrinho*/
.list-normal{
    list-style: none;
}
.title-book{
    display: flex;
    flex-direction: column;
}
.title-book span{
    font-weight: 600;
    font-size: 18pt;
}
.title-book label{
    font-size: 12pt;
    font-weight: 600;
    color: rgb(136, 135, 135);
}

/*formatação para links na pagina*/
.link-normal{
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 200ms;
}
.link-normal:hover{
    color: red;
}
.a-link:hover{
    font-weight: 700;
}
.text-msg{
    text-align: center;
    width: 400px;
    height: 400px;
}
.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}


@media screen and (max-width: 700px){
    .conteudo{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}


@media screen and (max-width: 575px){
    .box-pedido{
        width: 80%;
        margin: auto;
    }
}