:root{
  --azul-forte : #18A2C0;
  --azul-claro : #DAF2FF;
}


.color-a{
  background-color: var(--azul-forte);
}
.color-a2{
  background-color: var(--azul-claro);
}
.config-header{
  display: flex;
  justify-content: space-between;
}
.ajust-left{
  
 padding-left: 30%;
}

.config-nav{
  display: flex;
  height: 40px;
  justify-content: space-evenly;

}
.config-nav li:hover{
  border-bottom: solid 2px var(--azul-forte);
}