/*cores padroes*/

:root{
  --azul-forte : #74b9ff;
  --azul-claro : #DAF2FF;
}


body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  height: 100vh;
}


main{
  margin-top: 10px;
}


.color-a{
  background-color: var(--azul-forte);
}
.color-a2{
  background-color: var(--azul-claro);
}
.config-header{
  display: flex;
  justify-content: space-between;
}
.ajust-left{
  
 padding-left: 30%;
}

.config-nav{
  display: flex;
  height: 40px;
  justify-content: space-evenly;

}
.config-nav li:hover{
  border-bottom: solid 2px var(--azul-forte);
}

/*pagina categoria*/
.h-box{
  height: 700px;
}

.img-heigth{
  height: 100%;
}

