.none{
    display: none;
}
.block{
    display: block;
}

.box-perfil{
    background-color: #fff;
    display: flex
}
.side-left{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 50px;
}
.avatar-usuario img{
    width: 40%;
}
.nav li{
    margin: 5px;
}
.side-left .nav a{
    text-decoration: none;
    color: #dddd;
    font-weight: 500;
    box-shadow: 0px 0px 15px rgba(0, 0, 0,.3);
    transition: 500ms all ;
}
.nav a:hover{
    color: #fff;
    box-shadow: 0px 0px 0px #ffff;
}

.side-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-pedidos{
    width: 95%;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0,.3);
}
.pedidos-titulo{
    background-color: var(--azul-forte);
    display: flex;
}
.pedidos-titulo h2{
    width: max-content;
    padding: 10px;
    margin: 10px auto 10px 0px;
    border-radius: 15px;
    font-size: 18pt;
    font-weight: 700;
    color: #fff;
}
.pedidos-list li{
    padding: 5px;
    margin: 5px;
}
.pedidos-list{
    background-color: #fff;
    
}
/*FORMATAÇÃO DOS FORMULÁRIOS DO USUARIO */
.box-info-forms h2{
    font-size: 14pt;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: black 2px solid;
}   
